node_modules

# .files
.gitignore

# docs
docs
backend/zzzzz


# Output
.gitignore
.npmrc.*
.obsidian
.obsidian.*
.output
.prettierignore
.prettierrc
.vercel
/.svelte-kit
backend/zzzzz
eslint.config.js
package-lock.json
package.json
playwright.config.ts
README.md
ReadMe.md
*.md
svelte.config.js
tsconfig.json
vite.config.ts
docs



# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
